@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

.home {
    position: relative;
    height: 100vh; 
    overflow: hidden;
  }
  
  .videobackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
  }
  
  .content {
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
  }